/* slider */

.recipes {
    margin: 80px 0;
}

/* Recipes List */

h2 {
    font-size: 37px;
    margin-bottom: 50px;
}

ul.recipes__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-right: -15px;
}

ul.recipes__list img {
    max-width: 100%;
    height: auto;
}

ul.recipes__list > li {
    position: relative;

    padding: 0 15px;
    margin-bottom: 30px;
}

ul.recipes__list > li > img {
    vertical-align: middle;
}

.recipes-info {
    position: absolute;
    bottom: 0;
    left: 15px;

    background-color: #ff2a6b;
    color: white;
    padding: 20px 50px 20px 30px;

    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.recipes-info > h3 {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

.rating {
    color: #fbb710;
    display: flex;
    flex-flow: row nowrap;
}

.rating > i {
    font-size: 11px;
    margin-right: 5px;
}

#fade {
    color: #e0e3e4;
}

/* Page numbers */

.pages {
    text-align: center;
    margin-top: 70px;
}

.pages > span {
    padding: 13px 15px;
    background-color: #ff2a6b;
    margin-right: 5px;

    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.pages > a {
    padding: 13px 15px;
    background-color: #cccccc;
    margin-right: 5px;

    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
